* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  background: #0082e6;
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav .icon {
  font-size: 35px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
}

nav ol {
  display: flex;
  list-style: none;
  margin: auto 0;
}
nav ol li {
  margin: 0 2px;
}

nav ol li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;
}
nav ol li:hover a {
  background: #fff;
  color: #0082e6;
  border-bottom: 3px solid #ff003c;
  transition: 0.3s ease;
}
nav ol li .btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0%;
  bottom: 0%;
  background: #ff003c;
}
nav ol li .btn-center::after {
  transform: scale(0, 1);
  transition: transform 0.5s ease;
}
nav ol li .btn-center:hover::after {
  transform: scale(1, 1);
}

nav .search_box {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}

nav .search_box input {
  border: none;
  outline: none;
  background-color: #fff;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  width: 350px;
}
nav .search_box span {
  color: #0a5071;
  font-size: 20px;
  background: #fff;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
nav .search_box span:hover {
  color: #fff;
}
nav .search_box span::after {
  height: 100%;
  width: 0%;
  content: "";
  background-color: #ff003c;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: -1;

  transition: 0.3s;
}
nav .search_box span:hover::after {
  width: 100%;
}

nav .bar {
  position: relative;
  margin: auto;
  display: none;
}
nav .bar span {
  position: absolute;
  color: #fff;
  font-size: 35px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
}

@media screen and (max-width: 1250px) {
  nav {
    display: block;
    padding: 0%;
  }
  nav .icon {
    display: inline-block;
    justify-content: start;
    padding: 15px 5px 15px 0;
  }
  nav .search_box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  nav .search_box input {
    width: 80vw;
    padding: 0 10px;
  }
  nav ol {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 0%;
    visibility: hidden;
    overflow: hidden;
    transition: 0.3s;
  }
  nav {
    height: 133px;
  }
  nav ol li {
    text-align: center;
    transition: 0.3s 0.1s all;
    opacity: 0;
  }
  nav ol li a {
    color: #000;
    font-size: 28px;
    padding: 25px;
    display: block;
  }

  nav ol li:nth-child(1) {
    transform: translateX(-150px);
  }
  nav ol li:nth-child(2) {
    transform: translateX(-200px);
  }
  nav ol li:nth-child(3) {
    transform: translateX(-250px);
  }
  nav ol li:nth-child(4) {
    transform: translateX(-300px);
  }
  nav ol li:nth-child(5) {
    transform: translateX(-350px);
  }

  nav .bar {
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
    /* left: 40px; */
  }
  nav .bar #times {
    display: none;
  }

  #check:checked ~ nav .bar #times {
    display: block;
  }
  #check:checked ~ nav .bar #bars {
    display: none;
  }

  #check:checked ~ nav ol {
    visibility: visible;
    height: 465px;
  }

  #check:checked ~ nav ol li:nth-child(1),
  #check:checked ~ nav ol li:nth-child(2),
  #check:checked ~ nav ol li:nth-child(3),
  #check:checked ~ nav ol li:nth-child(4),
  #check:checked ~ nav ol li:nth-child(5) {
    transform: translateX(0);
    opacity: 1;
  }
}

.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: capitalize;
}
.pre-btn, .nxt-btn{
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
    z-index: 8;
    padding: 20px;
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
    margin-top: 150px;
}

.nxt-btn{
    right: 0;
    margin-top: 150px;
}

.pre-btn img, .nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img{
    opacity: 1;
}
.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
    
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    transition: all 0.3s;
}
.product-image:hover{
    transform: scale(1.1);
}

.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* footer starts */
footer{
  position: relative;
  width: 100%;
  padding: 40px 10vw;
  padding-bottom: 80px;
  background: #383838;
}

.footer-content{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-content h3{
  color: #fff;
  font-size:37px;
}

.footer-content .social{
  text-align: center;
 
} 

.footer-content .social a{
  text-decoration: none;
  font-size: 26px;
  color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0px 8px;
  transition: all .3s;
  opacity: 0.80;
  margin-left: -103px;
}
.footer-content .social a:hover{
  opacity: 1;
  /* background: #4475e2; */
  background: #0082e6;
  color: #fff;
  transform: translateY(5px);
}
.footer-content .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
.footer-ul-container{
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.category{
  width: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.category-title{
  grid-column: span 2;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.category .footer-link{
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.75);
}

.footer-link:hover{
  color: #fff;
}
/* footer ends */

@media (max-width: 767px) {
  .product-container{
    display: flex;
    flex-direction: column;
  }
}